<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <!-- <b><em><u><s>e</s></u></em></b> -->
        <meta name="description" content="This is desktop web wallpaper for Wallpaper Engine users, not mobile device users.">
        <meta name="author" content="Bemuse">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta charset="utf-8">


        <!-- style -->

        <!-- style init -->
        <link href="assets/css/init.css" rel="stylesheet" type="text/css">

        <!-- style background -->
        <link href="assets/css/background.css" rel="stylesheet" type="text/css">

        <!-- style opening -->
        <link href="assets/css/opening.css" rel="stylesheet" type="text/css">

        <!-- style logo -->
        <link href="assets/css/logo.css" rel="stylesheet" type="text/css">

        <!-- style piece -->
        <!-- <link href="assets/css/piece.css" rel="stylesheet" type="text/css"> -->

        <!-- test -->
        <link href="assets/css/test.css" rel="stylesheet" type="text/css">


        <!-- lib -->
        <script src="assets/js/lib/vue.min.js"></script>
        <script src="assets/js/lib/three.min.r126.js"></script>
        <script src="assets/js/lib/simplex-noise.2.3.0.min.js"></script>
        <script src="assets/js/lib/tween.umd.js"></script>
        <script src="assets/js/lib/bezier.js"></script>
        <script src="assets/js/lib/GPUComputationRenderer.js"></script>
    
        
        <!-- method -->
        <script src="assets/js/method/method.js"></script>


        <!-- const -->
        <script src="assets/js/const/const.js"></script>


        <!-- object -->
        <script src="assets/js/object/object.js"></script>


        <!-- application -->

        <!-- app -->
        <script src="assets/js/application/app/app.js"></script>
        <script src="assets/js/application/app/app.build.js"></script>

        <!-- opening -->
        <script src="assets/js/application/opening/opening.js"></script>
        <!-- opening element text -->
        <script src="assets/js/application/opening/element/text/opening.el.text.param.js"></script>
        <script src="assets/js/application/opening/element/text/opening.el.text.build.js"></script>
        <!-- opening element circle -->
        <script src="assets/js/application/opening/element/circle/opening.el.circle.param.js"></script>
        <script src="assets/js/application/opening/element/circle/opening.el.circle.build.js"></script>
        <!-- opening element particle -->
        <script src="assets/js/application/opening/element/particle/opening.el.particle.param.js"></script>
        <script src="assets/js/application/opening/element/particle/opening.el.particle.build.js"></script>
        <!-- opening element build -->
        <script src="assets/js/application/opening/element/opening.el.build.js"></script>

        <!-- logo -->
        <script src="assets/js/application/logo/logo.js"></script>
        <!-- logo element text -->
        <script src="assets/js/application/logo/element/text/logo.el.text.param.js"></script>
        <script src="assets/js/application/logo/element/text/logo.el.text.build.js"></script>
        <!-- logo element build -->
        <script src="assets/js/application/logo/element/logo.el.build.js"></script>

        <!-- background -->
        <script src="assets/js/application/background/bg.js"></script>
        <!-- background object particle -->
        <script src="assets/js/application/background/object/particle/bg.obj.particle.param.js"></script>
        <script src="assets/js/application/background/object/particle/bg.obj.particle.method.js"></script>
        <script src="assets/js/application/background/object/particle/bg.obj.particle.shader.js"></script>
        <script src="assets/js/application/background/object/particle/bg.obj.particle.build.js"></script>
        <!-- background object child -->
        <script src="assets/js/application/background/object/child/bg.obj.child.param.js"></script>
        <script src="assets/js/application/background/object/child/bg.obj.child.method.js"></script>
        <script src="assets/js/application/background/object/child/bg.obj.child.shader.js"></script>
        <script src="assets/js/application/background/object/child/bg.obj.child.build.js"></script>
        <!-- background object build -->
        <script src="assets/js/application/background/object/bg.obj.param.js"></script>
        <script src="assets/js/application/background/object/bg.obj.build.js"></script>
        <!-- background element cover -->
        <script src="assets/js/application/background/element/cover/bg.el.cover.build.js"></script>
        <!-- background element build -->
        <script src="assets/js/application/background/element/bg.el.build.js"></script>

        <!-- piece -->
        <script src="assets/js/application/piece/piece.js"></script>
        <!-- piece element outer -->
        <script src="assets/js/application/piece/element/outer/piece.el.outer.param.js"></script>
        <script src="assets/js/application/piece/element/outer/piece.el.outer.build.js"></script>
        <!-- piece element build -->
        <script src="assets/js/application/piece/element/piece.el.build.js"></script>


        <!-- test -->
        <script src="assets/js/application/test/test.js"></script>
        <script src="assets/js/application/test/child/test.child.build.js"></script>
        <script src="assets/js/application/test/test.param.js"></script>
        <script src="assets/js/application/test/test.build.js"></script>
    </head>
    <body>
        <div id="wrap">


            <!-- object -->
            <div id="object">
                <canvas id="canvas"></canvas>
            </div>


            <!-- element -->
            <div id="element">


                <!-- background -->
                <div class="ui background">
                    <div class="background-object-container">
                        <div class="background-object"></div>
                    </div>
                    <div class="background-cover-container">
                        <div class="background-cover" :style="element.background.group.cover.get()"></div>
                    </div>
                </div>


                <!-- opening -->
                <div class="ui opening">
                    <div 
                        class="opening-circle-container" 
                        v-if="element.opening.group.circle.container"
                    >
                        <div 
                            class="opening-circle-center"
                            v-for="i in element.opening.group.circle.get()"
                            :key="i.key"
                        >
                            <div class="opening-circle-translate" :style="i.style.translate">
                                <div class="opening-circle" :style="i.style.none"></div>
                            </div>
                        </div>
                    </div>
                    <transition-group 
                        name="blink-transition" 
                        tag="div" 
                        class="opening-text-container"
                        v-if="element.opening.group.circle.container"
                    >
                        <div 
                            class="opening-text-animation"
                            v-for="i in element.opening.group.text.get()"
                            v-show="i.show"
                            :key="i.key"
                            :style="i.style"
                        >
                            <div class="opening-text-center">
                                <span>{{i.text}}</span>
                            </div>
                        </div>
                    </transition-group>
                    <div 
                        class="opening-particle-container"
                        v-if="element.opening.group.particle.container"
                    >
                        <div 
                            class="opening-particle-center"
                            v-for="i in element.opening.group.particle.get()"
                            :key="i.key"
                        >
                            <div class="opening-particle-translate" :style="i.style.translate">
                                <div class="opening-particle-rotate" :style="i.style.rotate">
                                    <div class="opening-particle" :style="i.style.none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- logo -->
                <div class="ui logo">
                    <div class="logo-text-container">
                        <div
                            class="logo-text"
                            v-for="i in element.logo.group.text.get()"
                            :key="i.key"
                            :style="i.style"
                        ><span>{{i.text}}</span>
                        </div>
                    </div>
                </div>


                <div class="ui test">
                    <div class="test-object-container">
                        <div class="test-object"></div>
                    </div>
                </div>


                <!-- piece -->
                <!-- <div class="ui piece">
                    <div class="piece-outer-container">
                        <div 
                            class="piece-outer-center"
                            v-for="i in element.piece.group.outer.get()"
                            :key="i.key"
                        >
                            <div class="piece-outer-translate" :style="i.style.translate">
                                <div class="piece-outer" :style="i.style.none">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


            </div>


        </div>
        <script src="assets/js/main/main.js"></script>
    </body>
</html>