/* background */
div.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


/* background object */
div.background-object-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.background-object{
    width: 100%;
    height: 100%;
}


/* background cover */
div.background-cover-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.background-cover{
    width: 100%;
    height: 100%;
    background: black;
    transition: opacity 0.3s;
}
