/* font */
@font-face{
    font-family: ENORBITB;
    src: url('../font/ENORBITB.TTF');
}
@font-face{
    font-family: VCR_OSD_MONO;
    src: url('../font/VCR_OSD_MONO.ttf');
}


/* animation */
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
}


/* vue animation class */
.blink-transition-enter-active{
    animation: blink 0.06s 0.3s 3 forwards;
    transition: all 0.3s 0.3s;
}
.blink-transition-leave-active{
    transition: all 0.2s 0.3s;
}
.blink-transition-enter{
    opacity: 0;
    /* transform: translate(-10%, 0px) scale(1.0); */
    transform: scale(0.925);
}
.blink-transition-leave-to{
    opacity: 0;
    /* transform: translate(10%, 0px) scale(0.75); */
    transform: scale(1.075);
}


/* init */
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}