/* font */
@font-face {
    font-family: ENORBITB;
    src: url('../font/ENORBITB.TTF');
}


/* animation */
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1.0;
    }
}
@keyframes scale{
    0%{
        transform: scale(3.0);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes expand{
    0%{
        transform: scale(3.0);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
}


/* vue animation class */
.blink-transition-enter-active{
    animation: blink 0.06s 0.3s 3 forwards;
    transition: all 0.3s 0.3s;
}
.blink-transition-leave-active{
    transition: all 0.2s 0.3s;
}
.blink-transition-enter{
    opacity: 0;
    /* transform: translate(-10%, 0px) scale(1.0); */
    transform: scale(0.925);
}
.blink-transition-leave-to{
    opacity: 0;
    /* transform: translate(10%, 0px) scale(0.75); */
    transform: scale(1.075);
}


/* init */
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}


/* opening */
div.opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vmin;
    height: 25vmin;
    color: white;
}

/* opening circle */
div.opening-circle-container{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 240s linear infinite;
}
div.opening-circle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1%;
    height: 1%;
    /* opacity: 0; */
}
div.opening-circle-translate{
    width: 100%;
    height: 100%;
}
div.opening-circle{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

/* openint text */
div.opening-text-container{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: ENORBITB;
    user-select: none;
}
div.opening-text-animation{
    position: absolute;
    width: 100%;
    height: 100%;
}
div.opening-text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}