/* opening */
div.opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vmin;
    height: 25vmin;
    color: white;
}


/* opening circle */
div.opening-circle-container{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 240s linear infinite;
}
div.opening-circle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1%;
    height: 1%;
}
div.opening-circle-translate{
    width: 100%;
    height: 100%;
}
div.opening-circle{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}


/* openint text */
div.opening-text-container{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: ENORBITB;
    user-select: none;
}
div.opening-text-animation{
    position: absolute;
    width: 100%;
    height: 100%;
}
div.opening-text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* opening particle */
