/* test */
div.test{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}


/* test object */
div.test-object-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.test-object{
    width: 100%;
    height: 100%;
}


/* test cover */
div.test-cover-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
